* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 15px;
}

.upper {
  color: #2A2A2A; /* Font color->Dark Gray */
  background-color: #9a83ee;  /* Light Green */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3em;
  font-weight: bold;
}

.page-container {
  color: #2A2A2A; /* Font color->Dark Gray */
  background-color: #9a83ee; /* Lighter Green */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}



.proj {
  margin: 10px;
  font-size: 1.5em;
}

.snapshot {
  float: left;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.comment {
  float: left;
  margin: 5px;
  overflow: hidden;  /* This is important */
}

.footer {
  overflow: hidden;
  background-image: linear-gradient(#9a83ee, #D4EFDF);

}

.linkini-inside {
  color: #4E598C;
}

.linkini-inside:hover, .linkini-inside:visited:hover  {
  color: #99982D;
}

.linkini-inside:visited{
  color: #2D9799 ;
}

.column {
  float: left;
  width: 31%;
  height: auto;
  margin: 20px 1.15%;
  /*height: 200px;*/
  background-color: #D2D6FB;    /* Light gray */
}
