* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  .upper {
    color: #2A2A2A; /* Font color->Dark Gray */
    background-color: #D4EFDF;  /* Light Green */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
  }
  
  .page-container {
    color: #2A2A2A; /* Font color->Dark Gray */
    background-color: #D4EFDF; /* Lighter Green */
    background-image: linear-gradient(#9a83ee, #D4EFDF);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .page-container::before {
    /*content:"";*/
    background-color: #D4EFDF;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
  }
  
  .page {
    background-color: #F2F2F2;
  
    width: 1200px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .pics-left {
    float: left;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pics-right {
    float: right;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .text {
    float: left;
    padding: 10px;
  }
  
  /*.Text-Intro {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }*/
  
  .intro > h2 {
    font-size: 2em;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .intro {
    padding: 5px;
  }
  
  .intro > p {
    font-size: 1.1em;
  }
  
  .Link-Intro {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .Link-Intro > h2 {
    font-size: 2em;
  }
  
  .linkini {
    padding: 15px;
    /*font-size: 1.1em;*/
  }
  
  .linkini > ul li {
    font-size: 1.1em;
  }
  
  .linkini-inside {
    color: #4E598C;
  }
  
  .linkini-inside:hover, .linkini-inside:visited:hover  {
    color: #99982D;
  }
  
  .linkini-inside:visited{
    color: #2D9799 ;
  }
  
  
  